.pict-1 .rounded{
    height:200px;
    width:200px;
    margin-top: -200px;
}
body{  
    background: url(../img/bg-saloka.png) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.bgn-tengah .display-4 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 6px 0px 2px rgb(46, 88, 102);
    font-size: 90px;
    font-weight: 700;
    margin-top: 200px;
    margin-left: -350px;
}
.bgn-tengah .display-5 {
    color: rgb(46, 88, 102);
    text-align: center;
    text-shadow: 6px 0px 2px rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 700;
    margin-top: -40px;
    margin-left: -350px;
}
.bgn-tengah .display-6 .rounded{
    height:800px;
    width:1100px;
    margin-top: -450px;
    margin-left: 380px;
  
}