img{
    height:200px;
     width:200px;
     margin-top: -130px;
}
body{  background: url(../img/bg-saloka.png) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.ikon .col{
    background-color: rgb(3, 66, 47);
    color: aliceblue;
    opacity: 0.7;
    filter: alpha(opacity=70);

}
.tab-tengah .display-3{
    color: rgb(4, 80, 80);
    text-align: center;
    text-shadow: 2px -6px 2px rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 700;
    margin-top: 100px;

}
.tab-tengah .display-4 {
     color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px -6px 2px rgb(4, 80, 80);
    font-size: 70px;
    font-weight: 700;
    margin-top: -20px;
    
}

.tab-tengah .table{
        background-color: rgb(3, 66, 47);
        color: aliceblue;
        opacity: 0.7;
        filter: alpha(opacity=70);
        font-size: 70px;
        text-align: center;
        border-radius: 20px;
        margin-top: 20px;
        size: 70px;
}
/*btn bawah*/

.tombol .btn{
    
    position: absolute;
    border-radius: 12px;
    margin-top: 20px;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

