img{
    height:200px;
     width:200px;
     margin-top: -200px;
}
body{  background: url(../img/bg-saloka.png) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.tab-tengah .display-4 {
        color: rgb(4, 80, 80);
        text-align: center;
        text-shadow: 5px 0px 2px rgb(255, 255, 255);
        font-size: 70px;
        font-weight: 700;
        margin-top: 200px;
        
}
.tab-tengah .table{
        background-color: rgb(3, 66, 47);
        color: aliceblue;
        opacity: 0.7;
        filter: alpha(opacity=70);
        font-size: 70px;
        text-align: center;
        border-radius: 20px;
        margin-top: 20px;
        size: 70px;
}
/* tabel bawah*/
.tab-bawah .table{
    background-color: rgb(255, 255, 255);
    color: darkcyan;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top:20px ;
    margin-left: 70px;
    font-size: 24px;
    font-weight: 1000;
    text-align: center;
    width: 300px;
}

.tombol .btn{
    
    position: absolute;
    border-radius: 12px;
    top: 30%;
    width: 70%;
    text-align: center;
    font-size: 50px;
}

