img{
    height:200px;
     width:200px;
     margin-top: -220px;
}
body{  background: url(../img/bg-tvled.png) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.tab-tengah .display-4 {
    color: rgb(4, 80, 80);
    text-align: center;
    text-shadow: 2px -6px 2px rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 700;
    margin-top: 200px;
    margin-left:-500px;
        
}
.tab-tengah .display-5 {
    color: rgb(4, 80, 80);
    text-align: center;
    text-shadow: 5px 0px 2px rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 700;
    margin-top: -20px;
    margin-left: -990px;
    
}

/* tabel bawah*/
.tab-bawah .table{
    background-color: rgb(8, 129, 83);
    color: white;
    opacity: 0.7;
    filter: alpha(opacity=70);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top:30px ;
    margin-left: 30px;
    font-size: 39px;
    font-weight: 1000;
    text-align: center;
    width: 300px;
}
