img{
    height:200px;
     width:200px;
     margin-top: -220px;
}
body{  
    background: url(../img/bg-mobil.png) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.tab-tengah .display-4 {
        color: rgb(46, 88, 102);
        text-align: center;
        text-shadow: 5px 0px 2px rgb(255, 255, 255);
        font-size: 60px;
        font-weight: 700;
        margin-top: 200px;
        margin-left: -200px;
        
}
.tab-tengah .table{
        background-color: rgb(3, 66, 47);
        color: aliceblue;
        opacity: 0.8;
        filter: alpha(opacity=80);
        font-size: 90px;
        text-align: center;
        border-radius: 20px;
        margin-top: 10px;
}
/* tab bawah*/
.tab-bawah .display-4 {
    color: rgb(46, 88, 102);
    text-align: center;
    text-shadow: 5px 0px 2px rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: -600px;
}
.tab-bawah .display-5 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 6px 0px 2px rgb(46, 88, 102);
    font-size: 100px;
    font-weight: 700;
    margin-top: -20px;
    margin-left: -700px;
}

